﻿#titl
{
    margin-bottom: 0px;
}

#gamefield
{
    position: absolute;
    height: 200px;
    width: 200px;
    top: 173px;
    left: 198px;
    background-color: White;
    border: 2px solid Red;
    margin-bottom: 0em;
}

input[type="button"]
{
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: #9cf527;
}

#datadiv
{
    position: absolute;
    left: 198px;
    top: 375px;
}

#labl
{
    display: inline;
}

#turns
{
    width: 100px;
}

#Fin
{
    color: GrayText;
    background-color: Gray;
}

#Res
{
    margin-bottom: 5px;
}
