﻿@{
    ViewBag.Title = "Fifteen game";
}
<link href="/Content/Gamestyle.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/Scripts/Game.js"></script>


<h2 id="titl">@ViewBag.Title</h2>
<div id="gamefield">
</div>
<input type="button" value="@ViewBag.Value1" name="butt1" style="top: 170px; left: 200px;" /><br/>
<input type="button" value="@ViewBag.Value2" name="butt2" style="top: 170px; left: 250px;" /><br/>
<input type="button" value="@ViewBag.Value3" name="butt3" style="top: 170px; left: 300px;" /><br/>
<input type="button" value="@ViewBag.Value4" name="butt4" style="top: 170px; left: 350px;" /><br/>
<input type="button" value="@ViewBag.Value5" name="butt5" style="top: 220px; left: 200px;" /><br/>
<input type="button" value="@ViewBag.Value6" name="butt6" style="top: 220px; left: 250px;" /><br/>
<input type="button" value="@ViewBag.Value7" name="butt7" style="top: 220px; left: 300px;" /><br/>
<input type="button" value="@ViewBag.Value8" name="butt8" style="top: 220px; left: 350px;" /><br/>
<input type="button" value="@ViewBag.Value9" name="butt9" style="top: 270px; left: 200px;" /><br/>
<input type="button" value="@ViewBag.Value10" name="butt10" style="top: 270px; left: 250px;" /><br/>
<input type="button" value="@ViewBag.Value11" name="butt11" style="top: 270px; left: 300px;" /><br/>
<input type="button" value="@ViewBag.Value12" name="butt12" style="top: 270px; left: 350px;" /><br/>
<input type="button" value="@ViewBag.Value13" name="butt13" style="top: 320px; left: 200px;" /><br/>
<input type="button" value="@ViewBag.Value14" name="butt14" style="top: 320px; left: 250px;" /><br/>
<input type="button" value="@ViewBag.Value15" name="butt15" style="top: 320px; left: 300px;" /><br/>
<input type="button" value="@ViewBag.Value0" name="butt0" style="top: 320px; left: 350px;" /><br/>

<div id="datadiv">
@using (Html.BeginForm("Pushed", "Game"))
{
    <label for="Turns" id="labl">Turns: </label>
    <input type="text" id="turns" value="@ViewBag.Turns" name="Turns" readonly="readonly"/><br/>
    <input type="submit" value="Next" id="Fin" name="Finres" disabled="disabled"/>
    <input type="submit" value="Reset" id="Res" name="Finres"/>
    <input type="hidden" value="unfin" name="Gamefin" />
    <input type="hidden" value="not" name="Unloadbut" />
}
</div>
