﻿@{
    ViewBag.Title = "Fifteen home";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <h1 align="center">Welcome to the "Fifteen" game!</h1>
            <img src="../../Content/Images/game.png" alt="Game field image" style="display:block; margin-left:auto; margin-right:auto"/>
        </div>
    </section>
}
<h3>Please register or log in to proceed.</h3>
