﻿@model Fifteen.Models.ManageModel
@{
    ViewBag.Title = "Change account data";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<p class="message-success">@ViewBag.Messagesucc</p>

<p class="message-error">@ViewBag.Messageerr</p>

<p>Enter data which you want to change in textfields below.<br/>If you don't want to change some data just leave matching fields blank.<br/>Note that to make any changes you must enter your password.</p>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

<fieldset>
        <legend>Change data Form</legend>
        <ol>
            <li>
                <p>Your name is <strong>@ViewBag.Name</strong>.</p>
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name)
            </li>
            <li>
                <p>Your surname is <strong>@ViewBag.Surname</strong>.</p>
                @Html.LabelFor(m => m.Surname)
                @Html.TextBoxFor(m => m.Surname)
            </li>
            <li>
                <p>Your password is <strong>@ViewBag.Password</strong>.</p>
                <div style="float:left; color:Red; font-size:1.2em">*</div>@Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Change" />
    </fieldset>
    }
    <div style="float:left; color:Red; font-size:1.2em">*</div> - required field.
