﻿@model Fifteen.Models.RecoveryModel
@{
    ViewBag.Title = "Recover forgotten password";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<p style="margin-bottom:0em">If you forgot your password enter your login and surname in textfields below.</p>

<p class="message-success" style="margin-top:0em; margin-bottom:0em">@ViewBag.Messageone<br/>@ViewBag.Messagetwo</p>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

<fieldset>
        <legend>Password recovery Form</legend>
        <ol>
            <li>
                <div style="float:left; color:Red; font-size:1.2em">*</div>@Html.LabelFor(m => m.Login)
                @Html.TextBoxFor(m => m.Login)
            </li>
            <li>
                <div style="float:left; color:Red; font-size:1.2em">*</div>@Html.LabelFor(m => m.Surname)
                @Html.TextBoxFor(m => m.Surname)
            </li>
        </ol>
        <input type="submit" value="Change" />
    </fieldset>
    }
    <div style="float:left; color:Red; font-size:1.2em">*</div> - required field.
