﻿@{
    ViewBag.Title = "User profile";
}
<script type="text/javascript" src="/Scripts/Contgame.js"></script>
<h2>Profile</h2>

<div style="position: relative; float:left; padding-left:50px"><h3>Information</h3></div><div style="margin-left:305px"><h3>Statistics</h3></div>
<div style="position: relative; float:left; background-color: #F8F8FF; border-width: 2px; border-style:solid; border-color:#FFFFF0; padding:5px;">
<div style="background-color: #F8F8FF; border-width: 2px; border-style:solid; border-color:#AFEEEE"><p align="center" style="font-weight:bold;">Personal data</p></div>
Name: <input type="text" name="Name" value="@ViewBag.Name" readonly="readonly" maxlength="15" style="width: 100px; position:relative; left:21px"/><br/>
Surname: <input type="text" name="Surname" value="@ViewBag.Surname" readonly="readonly" maxlength="15" style="width: 100px; position:relative; left:4px"/><br/>
Password: <input type="text" name="Password" value="@ViewBag.Password" readonly="readonly" maxlength="25" style="width: 100px; position:relative; left:0px"/><br/>
@using (Html.BeginForm())
{<input type="submit" name="profbtn" value="Change data" style="position:relative; left:26px"/>}
</div>
<div style="position: relative; float:left; background-color: #F8F8FF; border-width: 2px; border-style:solid; border-color:#FFFFF0; padding:5px;">
<div style="position: relative; float:left;">
<div style="background-color: #F8F8FF; border-width: 2px; border-style:solid; border-color:#AFEEEE"><p align="center" style="font-weight:bold;">Amount of games</p></div>
Finished: <input type="text" name="Finished" value="@ViewBag.EndGames" readonly="readonly" maxlength="4" style="width: 50px; position:relative; left:15px"/>&nbsp<br/>
Unfinished: <input type="text" name="Unfinished" value="@ViewBag.UnendGames" readonly="readonly" maxlength="4" style="width: 50px; position:relative; left:0px"/>&nbsp<br/>
@using (Html.BeginForm())
{<input type="submit" name="profbtn" value="New game" style="position:relative; left:13px"/>}
</div>
<div style="position: relative; float:left; margin-left:5px">
<div style="background-color: #F8F8FF; border-width: 2px; border-style:solid; border-color:#AFEEEE; padding-left:5px; padding-right:5px;"><p align="center" style="font-weight:bold;">Amount of turns</p></div>
&nbspMinimal: <input type="text" name="Minimal" value="@ViewBag.MinTurns" readonly="readonly" maxlength="4" style="width: 50px; position:relative; left:1px"/><br/>
&nbspMaximal: <input type="text" name="Maximal" value="@ViewBag.MaxTurns" readonly="readonly" maxlength="4" style="width: 50px; position:relative; left:0px"/><br/>
&nbspAverage: <input type="text" name="Average" value="@ViewBag.AvgTurns" readonly="readonly" maxlength="4" style="width: 50px; position:relative; left:1px"/><br/>
@using (Html.BeginForm())
{<input type="submit" id="cont" name="profbtn" value="Continue game" disabled="disabled" style="position:relative; left:2px; color:GrayText; background-color:Gray"/>}
</div>
</div>
